<footer class="p-5 bg-dark text-white text-center footer-position profile" id="mine">
    <div class="row foot">
        <div class="col-md-4 foot1 alink">
            <p class="lead"><a href="/about">About</a></p>
            <p class="lead contact"><a href="/contact">Contact</a></p>
        </div>
        
        <div class="col-md-4">
            <a
            class="btn btn-primary btn-floating m-1"
            style="background-color:white;text-decoration:none;"
            href="#!"
            role="button"
            ><img src="/images/facebook.png" alt= "facebook" height="20"></a>
          <a
          class="btn btn-primary btn-floating m-1"
          style="background-color:white;
          text-decoration:none;"
          href="#!"
          role="button"
          ><img src="/images/instagram.png" alt = "instagram" height="20"></a>
        </div>
        <div class="col-md-4">
          <p class="lead">Charlotte, 28262</p>  
        </div>
    </div>
</footer>
</div>




</body>
</html>