

<%- include('./partials/header.ejs')%>
<link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class = "container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light navColor" >
        <a href="/" class="navbar-brand">
            <img src = "/images/dress.png" alt= "dressLogo" height="50">
            CLOTHIFY
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarText">
           
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <%if(!user){%>
                <li class="nav-item">
                <a  class="nav-link active" href='/users/new'>Sign Up</a> </li>
                <li class="nav-item">
                <a  class="nav-link active" href='/users/login'>Login</a> </li>
                <%}else {%>
                  <li class="nav-item">
                    <a  class="nav-link active" href='/users/profile'>Profile</a> </li>
                    <li class="nav-item">
                    <a class="nav-link active" href='/users/logout'>Logout</a></li>
                    <%}%>  

            </ul>
            <span class="navbar-text">
            </span>
          </div>
    </nav>
    <hr>

      <!--Subnavvvvv-->
      <section class=" text-light p-2 mainsub">
        <div class ="row">
            <div class = "col-md-8 ">
            
            <a href="/trades/" class = "subnav">Trade</a>
            <% if(user) { %>
            <a href="/trades/newTrade" class = "subnav" >New Trade</a>
            <% } %>
      
         
            </div>
            <div class="col-md-4 ">
                <div class="input-group news-input">
                    <input type="text" class="form-control" placeholder="Trade search">
                          <button class="btn btn-dark btn-lg" type="button">Search</button>
                </div>
            </div>
        </div>
      </section>

      <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>

      <!--MainContent-->

        <div class ="container text-center">
            <h4>About</h4>
                
        </div>
      
      <!--Footer-->
      
  
<%- include('./partials/footer.ejs')%>